body{
 margin:auto;
 font-family: Roboto, Helvetica, Arial, sans-serif;
}
.header{
    height: 40vh;
    background-image:url("https://cache.marriott.com/Images/Travel_Hub/2880X960_RESORTS_Infinity-Pool-View.jpg?interpolation=progressive-bilinear");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 
.title{
  text-align: left;
  color:white;
  
}

.navBar{
  text-align:justify ;
  font-size: larger;
  background-color: white;
  height: 3rem;
  background-color: lightgray;
}

.slick-slide img {
  margin:auto;
  width:50vw;
  height:50vh;
}
.searchBar{
  align-items: center;
  text-align: center;
}
.vacation{
  background-color: white;
  margin-bottom: 100px;
  line-break: strict;
  
}


.vacation p{
  font-size: x-large;
}
.vacation img{
  height: 60%;
  width: 60%;
  float: left;
  margin-right: 2rem;
}
main{
  width:60%;
  margin-left: 20%;
}
.create{
  text-align: center;
}
.text{
  height: 100px;
  width: 40%;
  word-wrap: break-word;
}
.form-container {
  padding: 3vmin;
  background-color: lightgray;
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}
form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}
.logout{
  background: none!important;
  border: none;
  text-decoration: underline;
  align-items:left
}